body {
    background-color: aliceblue;
}

a.navlink {
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 900;
}

.card.cardstyle {
    padding: 40px 0px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}






button#addRow {
    width: 100%
}